{% extends 'base.html' %}
{% block content %}
<!-- header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Buy Your Movies in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">The Place Where Movies Is Your All Time Best</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatum quasi laborum beatae reprehenderit nisi rerum a voluptates hic, quod ea, quaerat recusandae unde suscipit. Distinctio eum nostrum in veniam.
                Labore qui quibusdam incidunt laudantium facilis sed libero dolores voluptate, ea rerum sit quas reprehenderit mollitia voluptates, temporibus co
                nsequatur, optio blanditiis culpa quasi. Enim magnam ea error ad exercitationem omnis.
                Maiores placeat animi officia unde aliquid inventore ut, tempora autem excepturi distinctio commodi maxime earum, voluptates in ipsa exercitationem pariatur possimus explicabo corrupti, tenetur similique cum dolores perspiciatis perferendis? Sint.
                Officiis itaque quas esse, sunt magni sint reiciendis odit officia vel, optio alias quis, atque labore ipsa beatae consequatur temporibus molestias tenetur ex autem veniam inventore provident. Commodi, cum voluptate.
                Eum similique sunt quaerat? Non perferendis nihil, aliquam possimus veniam obcaecati minus maiores explicabo in corporis consequatur enim, dicta ullam aut debitis corrupti animi voluptatem quis! Optio esse accusamus doloribus.
            </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}